# Ignorar arquivos de variáveis de ambiente
.env

# Ignorar arquivos gerados pelo sistema operacional
__pycache__/
*.py[cod]
.DS_Store

# Ignorar arquivos de logs
*.log

# Ignorar arquivos temporários ou de backup
*.tmp
*.bak

# Ignorar o ambiente virtual
venv/